<footer class="footer">
  <div class="content has-text-centered">
    p
      <strong>SmartPrint3D.io</strong> is a research project from local academics and funded by <a href="https://fdct.gov.mo/">FDCT</a>.
      br
      span Join us on 
      a(href="https://www.facebook.com/SmartPrint3Dio-104606694566294") Facebook 
      span | 
      a(href="https://twitter.com/Smartprint3dI") Twitter 
      span | 
      a(href="https://www.instagram.com/smartprint3d.io/") Instagram
  </div>
</footer>