<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>SmartPrint3D.io</strong>, a research project from local academics and funded by <a href="https://fdct.gov.mo/">FDCT</a>.
    </p>
  </div>
</footer>