extends admin_layout.pug

block content
    div(class="container")
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">Hello, Admin.</h1>
                    <h2 class="subtitle">I hope you are having a great day!</h2>
                </div>
            </div>
        </section>
        <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">#{total_orders}</p>
                    <p class="subtitle">Total Orders</p>
                </article>
            </div>

            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">#{objects}</p>
                    <p class="subtitle">Objects</p>
                </article>
            </div>
            
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">#{active_orders}</p>
                    <p class="subtitle">Active Orders</p>
                </article>
            </div>
            
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">N/A</p>
                    <p class="subtitle">Average Time</p>
                </article>
            </div>
        </div>
    </section>