<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    if (user)
      p You are currently logged in as #{user.username}
    else
      p You are currently not logged in. Please 
        a(href="/login") login
  