<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartPrint3D Admin Panel #{title}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    //- <script src="https://use.fontawesome.com/c37fc8d5d2.js"></script>
    link(rel="stylesheet", href="/styles/style.css")
  </head>
  <body style="background:#fafafa">
    <nav class="navbar is-white" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/admin">
            <img src="/images/logo-smartprint3d.jpg" alt="SmartPrint3D.io" height="28">
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            
          </div>
        </div>
      </div>
    </nav>

    block page 
      div(class="container")
        block content

    include _footer.pug
  </body>
</html>