extends layout.pug

block content
  div(class="columns")
    div(class="column is-3 is-offset-5")
        figure(class="image is-128x128")
          img(src="/images/logo-smartprint3d.jpg" ) 
  
  div(class="columns")
    div(class="column is-8 is-offset-2")
      div(class="divider") Post-Survey  
      form(name="survey" action="/admin/postsurvey" method="post")
        input(type="hidden" name="order_id" value=order._id)
        
        h2(class="subtitle has-text-weight-bold") 教育程度
        div(class="field")
          input(type="radio" name="postsurvey[q1]" value="primary" class="is-checkradio" id="postsurveyq1_1")  
          label(class="radio" for="postsurveyq1_1") 小學程度或以下

        div(class="field")
          input(type="radio" name="postsurvey[q1]" value="secondary" class="is-checkradio" id="postsurveyq1_2")  
          label(class="radio" for="postsurveyq1_2") 中學程度

        div(class="field")
          input(type="radio" name="postsurvey[q1]" value="bachelor" class="is-checkradio" id="postsurveyq1_3")  
          label(class="radio" for="postsurveyq1_3") 大學程度

        div(class="field")
          input(type="radio" name="postsurvey[q1]" value="master" class="is-checkradio" id="postsurveyq1_4")  
          label(class="radio" for="postsurveyq1_4") 碩士程度或以上
          
        
        h2(class="subtitle has-text-weight-bold") 每月收入

        div(class="field")
          input(type="radio" name="postsurvey[q2]" value="0" class="is-checkradio" id="postsurveyq2_1")  
          label(class="radio" for="postsurveyq2_1") 沒有收入

        div(class="field")
          input(type="radio" name="postsurvey[q2]" value="5000-below" class="is-checkradio" id="postsurveyq2_2")  
          label(class="radio" for="postsurveyq2_2") 5,000或以下
        
        div(class="field")
          input(type="radio" name="postsurvey[q2]" value="5001-15000" class="is-checkradio" id="postsurveyq2_3")  
          label(class="radio" for="postsurveyq2_3") 5001至15000

        div(class="field")
          input(type="radio" name="postsurvey[q2]" value="15001-25000" class="is-checkradio" id="postsurveyq2_4")  
          label(class="radio" for="postsurveyq2_4") 15001至25000

        div(class="field")
          input(type="radio" name="postsurvey[q2]" value="25001-35000" class="is-checkradio" id="postsurveyq2_5")  
          label(class="radio" for="postsurveyq2_5") 25001至35000

        div(class="field")
          input(type="radio" name="postsurvey[q2]" value="35000+" class="is-checkradio" id="postsurveyq2_6")  
          label(class="radio" for="postsurveyq2_6") 35001或以上

        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 我很高興可以得到自己的3D打印品
            div(class="level")
              div(class="level-left")
                div(class="level-item") 非常不符合
              div(class="level-right")
                div(class="level-item") 非常符合
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q3]" value="1" id="q31" required)
                label(for="q31") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q3]" value="2" id="q32" required)
                label(for="q32") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q3]" value="3" id="q33" required)
                label(for="q33") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q3]" value="4" id="q34" required)
                label(for="q34") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q3]" value="5" id="q35" required)
                label(for="q35") 5

        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 我對《智打印3D》服務站感到滿意
            div(class="level")
              div(class="level-left")
                div(class="level-item") 非常不符合
              div(class="level-right")
                div(class="level-item") 非常符合
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q4]" value="1" id="q41" required)
                label(for="q41") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q4]" value="2" id="q42" required)
                label(for="q42") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q4]" value="3" id="q43" required)
                label(for="q43") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q4]" value="4" id="q44" required)
                label(for="q44") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q4]" value="5" id="q45" required)
                label(for="q45") 5
        
        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 我會推薦《智打印3D》服務站給其他人
            div(class="level")
              div(class="level-left")
                div(class="level-item") 非常不符合
              div(class="level-right")
                div(class="level-item") 非常符合
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q5]" value="1" id="q51" required)
                label(for="q51") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q5]" value="2" id="q52" required)
                label(for="q52") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q5]" value="3" id="q53" required)
                label(for="q53") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q5]" value="4" id="q54" required)
                label(for="q54") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q5]" value="5" id="q55" required)
                label(for="q55") 5
        
        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 如果我可以在線上觀看整個3D打印過程，我會更加滿意如果我可以網上觀看整個3D打印過程，我會更加滿意
            div(class="level")
              div(class="level-left")
                div(class="level-item") 非常不符合
              div(class="level-right")
                div(class="level-item") 非常符合
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q6]" value="1" id="q61" required)
                label(for="q61") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q6]" value="2" id="q62" required)
                label(for="q62") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q6]" value="3" id="q63" required)
                label(for="q63") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q6]" value="4" id="q64" required)
                label(for="q64") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q6]" value="5" id="q65" required)
                label(for="q65") 5

        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 《智打印3D》容易使用
            div(class="level")
              div(class="level-left")
                div(class="level-item") Very Easy
              div(class="level-right")
                div(class="level-item") Very Difficult
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q7a]" value="1" id="q7a1" required)
                label(for="q7a1") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q7a]" value="2" id="q7a2" required)
                label(for="q7a2") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q7a]" value="3" id="q7a3" required)
                label(for="q7a3") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q7a]" value="4" id="q7a4" required)
                label(for="q7a4") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q7a]" value="5" id="q7a5" required)
                label(for="q7a5") 5

        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 可以提高澳門的科技形象
            div(class="level")
              div(class="level-left")
                div(class="level-item") Fully disagree
              div(class="level-right")
                div(class="level-item") Fully agree
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q7b]" value="1" id="q7b1" required)
                label(for="q7b1") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q7b]" value="2" id="q7b2" required)
                label(for="q7b2") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q7b]" value="3" id="q7b3" required)
                label(for="q7b3") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q7b]" value="4" id="q7b4" required)
                label(for="q7b4") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q7b]" value="5" id="q7b5" required)
                label(for="q7b5") 5
        
        h2(class="subtitle has-text-weight-bold") 我喜歡用以下途徑下單：

        div(class="field")
          input(type="radio" name="postsurvey[q8]" value="online" class="is-checkradio" id="postsurveyq8_1")  
          label(class="radio" for="postsurveyq8_1") 線上

        div(class="field")
          input(type="radio" name="postsurvey[q8]" value="onsite" class="is-checkradio" id="postsurveyq8_2")  
          label(class="radio" for="postsurveyq8_2") 現場
        
        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 我想參加有關3D打印的培訓
            div(class="level")
              div(class="level-left")
                div(class="level-item") 非常不符合
              div(class="level-right")
                div(class="level-item") 非常符合
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q9]" value="1" id="q91" required)
                label(for="q91") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q9]" value="2" id="q92" required)
                label(for="q92") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q9]" value="3" id="q93" required)
                label(for="q93") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q9]" value="4" id="q94" required)
                label(for="q94") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q9]" value="5" id="q95" required)
                label(for="q95") 5

        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 我願意付費購買3D打印品
            div(class="level")
              div(class="level-left")
                div(class="level-item") 非常不符合
              div(class="level-right")
                div(class="level-item") 非常符合
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q10]" value="1" id="q101" required)
                label(for="q101") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q10]" value="2" id="q102" required)
                label(for="q102") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q10]" value="3" id="q103" required)
                label(for="q103") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q10]" value="4" id="q104" required)
                label(for="q104") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q10]" value="5" id="q105" required)
                label(for="q105") 5
        
        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 3D打印服務站在「智慧城市」內是有需要的
            div(class="level")
              div(class="level-left")
                div(class="level-item") 非常不符合
              div(class="level-right")
                div(class="level-item") 非常符合
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q11]" value="1" id="q111" required)
                label(for="q111") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q11]" value="2" id="q112" required)
                label(for="q112") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q11]" value="3" id="q113" required)
                label(for="q113") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q11]" value="4" id="q114" required)
                label(for="q114") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q11]" value="5" id="q115" required)
                label(for="q115") 5

        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 我認為本地政府以有效的方式提供服務（通訊及科技）
            div(class="level")
              div(class="level-left")
                div(class="level-item") 非常不符合
              div(class="level-right")
                div(class="level-item") 非常符合
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q12]" value="1" id="q121" required)
                label(for="q121") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q12]" value="2" id="q122" required)
                label(for="q122") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q12]" value="3" id="q123" required)
                label(for="q123") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q12]" value="4" id="q124" required)
                label(for="q124") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q12]" value="5" id="q125" required)
                label(for="q125") 5
        
        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 我可以透過手機應用程式或網站有效地使用許多公共服務
            div(class="level")
              div(class="level-left")
                div(class="level-item") 非常不符合
              div(class="level-right")
                div(class="level-item") 非常符合
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q13]" value="1" id="q131" required)
                label(for="q131") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q13]" value="2" id="q132" required)
                label(for="q132") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q13]" value="3" id="q133" required)
                label(for="q133") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q13]" value="4" id="q134" required)
                label(for="q134") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q13]" value="5" id="q135" required)
                label(for="q135") 5

        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 我認為「智慧城市」是未來城市的方向
            div(class="level")
              div(class="level-left")
                div(class="level-item") 非常不符合
              div(class="level-right")
                div(class="level-item") 非常符合
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q14]" value="1" id="q141" required)
                label(for="q141") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q14]" value="2" id="q142" required)
                label(for="q142") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q14]" value="3" id="q143" required)
                label(for="q143") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q14]" value="4" id="q144" required)
                label(for="q144") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q14]" value="5" id="q145" required)
                label(for="q145") 5
        
        div(class="field")
          div(class="likert")
            h2(class="subtitle likert-question has-text-weight-bold") 我認為我已獲取所有須要的資訊，為我作出在澳門生活上的選擇
            div(class="level")
              div(class="level-left")
                div(class="level-item") 非常不符合
              div(class="level-right")
                div(class="level-item") 非常符合
            
            div(class="likert-scale")
              div(class="likert-item")
                input(type="radio" name="postsurvey[q15]" value="1" id="q151" required)
                label(for="q151") 1
              div(class="likert-item")
                input(type="radio" name="postsurvey[q15]" value="2" id="q152" required)
                label(for="q152") 2
              div(class="likert-item")
                input(type="radio" name="postsurvey[q15]" value="3" id="q153" required)
                label(for="q153") 3
              div(class="likert-item")
                input(type="radio" name="postsurvey[q15]" value="4" id="q154" required)
                label(for="q154") 4
              div(class="likert-item")
                input(type="radio" name="postsurvey[q15]" value="5" id="q155" required)
                label(for="q155") 5

        h2(class="subtitle has-text-weight-bold") 我將會購買3D打印機作個人用途

        div(class="field")
          input(type="radio" name="postsurvey[q16]" value="Y" class="is-checkradio" id="postsurveyq16_1")  
          label(class="radio" for="postsurveyq16_1") 是

        div(class="field")
          input(type="radio" name="postsurvey[q16]" value="N" class="is-checkradio" id="postsurveyq16_2")  
          label(class="radio" for="postsurveyq16_2") 否

        h2(class="subtitle has-text-weight-bold") 我願意 參加對我本次3D打印經驗的訪談，以作為研究用途。請透過電話／電郵與我聯繫

        div(class="field")
          input(type="checkbox" name="postsurvey[q17]" value="Y" class="is-checkradio" id="postsurveyq17_1")  
          label(class="radio" for="postsurveyq17_1") 是

        div
          div(class="divider") END - Please Submit
    
        div(class="field has-text-right")
          button(type="submit" class="button is-primary is-large") Submit

