extends layout.pug

block page 
  section(class="hero is-primary is-fullheight")
    div(class="hero-body")
      div(class="container")
        h1(class="title") Thank you!
        h2(class="subtitle") We hope you will enjoy your 3D printed object 😃
  